doctype html
html
  head
    title register
    link(rel='stylesheet' href='style2.css')

    body
      h1 user detail

      p username
        div #{username}

      p studentId
        div #{sid}

      p phone
        div #{phone}

      p email
        div #{email}