html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    margin-top: 180px;
    text-align: center;
    background-image: linear-gradient(to bottom , #2cc5eb, #7AFFAF);
    border: 5px solid rgb(184, 5, 184);
    border-radius: 25%;
    width: 30%;
    height: 65%;
    box-shadow: 2px 2px 2px 2px gray;
}

h1 {
    text-align: center;
    color: rgb(101, 91, 241);
}

form {
    margin: auto;
}

form div:not(.error) {
    height: 80px;
    margin: auto;
}

form label {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 20px;
    color: rgb(182, 26, 187);
    padding-right: 20px;
}

form input {
    text-align:center;
    vertical-align:middle;
    height: 30px;
    font-size: 18px;
}

.error {
    color: #D01919;
}

form div.error {
    margin: 10px 0px 20px 80px;
    line-height: 24px;
}

form span.error {
    display: inline-block;
    width: 25%;
    padding: 10px;
}

div.buttons {
    text-align: center;
}

.button {  
    width: 180px;  
    color: rgba(255, 255, 255, 0.856);  
    border-radius: 10px;
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:125%;
    margin-left: 50px;
    box-shadow: 0px 6px  grey;
}

.reset {
    background: red;
}

.reset:hover {
    background-color: rgb(248, 83, 83);
}

.submit {
    background-color: green;
}

.submit:hover {
    background-color: rgb(38, 158, 38);
}

.button:active {
    box-shadow: 0px 4px  grey;
    transform: translateY(2px);
}

input {
    outline: none;
}