html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    margin-top: 180px;
    text-align: center;
    background-image: linear-gradient(to bottom , #2cc5eb, #7AFFAF);
    border: 5px solid rgb(184, 5, 184);
    border-radius: 25%;
    width: 20%;
    height: 65%;
    box-shadow: 2px 2px 2px 2px gray;
}

h1 {
    text-align: center;
    color: rgb(101, 91, 241);
}

p {
    font-size: 30px;
    color: purple;
}

div {
    font-size: 20px;
}