#container{
	width: 1000px;
	height: 550px;
	margin: 200px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: rgba(128, 128, 128, 0.267);
	margin: auto;
	border-radius: 50px;
	box-shadow: 5px 5px 2px 5px grey, -5px -5px 2px 5px grey;
}
#result{
	position: relative;
	top: 2px;
	height: 120px;
	border: 2px solid black;
	border-radius: 50px 50px 0px 0px;
	margin: 2px;
	background-color: rgba(0, 0, 0, 0.555);
}
#history{
	text-align: right;
	position: relative;
	height: 20px;
	margin: 0 20px;
	font-size: 20px;
	color: #919191da;
}
#output{
	text-align: right;
	height: 60px;
	margin: 20px;
	font-size: 30px;
	color: blanchedalmond;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty, .ALUoperator{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
	box-shadow: 2px 2px 0 0 grey;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator, .ALUoperator{
	cursor: pointer;
}
.operator:active, .number:active, .ALUoperator:active{
	box-shadow: 0px 0px 2px 2px grey;
}
.operator:focus, .number:focus, .empty:focus, .ALUoperator:focus{
	outline: 0;
}
button:nth-child(1) {
	background-color: rgb(255, 0, 212);
}
button:nth-child(2) {
	background-color: rgb(109, 205, 235);
}
button:nth-child(4){
	font-size: 20px;
	background-color: #2e9ad8;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ff0000;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #ec80f0;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #fcf270;
}
button:nth-child(17) {
	width: 210px;
	border-radius: 50px 50px 50px 50px; 
}
button:nth-child(18){
	font-size: 20px;
	background-color: #64f740;
}
::selection {
	color: black;
}	